@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/animations' as *;


.btn-rounded {
    
    padding: 0.3rem 2rem 0.3rem 2rem;
    font-weight: 700;
    margin: 0;
    border: none;
    background-color: $primary;
    color: $white;
    transition: all 0.3s ease-in-out;
    font-size: 1.5rem;
    white-space: nowrap;
    border-radius: 20px;

    i {
        color: $white;
        font-size: 1rem;
        line-height: 2.5rem;
    }

    &:hover {
        scale: 1.05;
        color: $white;
        background-color: $primary;
    }

}