@use '../custom' as *;
@use '../components/typography' as *;


.contact {
    scroll-margin-top: 6vh;

    &--title {
        h2{
        font-size: 3rem;
        color: $primary;
        font-weight: bold;

            @include media-breakpoint-down(sm) {
                font-size: 10.5vw;
            }
        }
    }
    
    &--info {

        a {
            text-decoration: none;

            i {
                font-size: 3.5rem;
                color: $primary;
                transition: transform 0.3s ease-in-out;
    
                &:hover {
                    transform: scale(1.2);
                    color: $secondary;
                }
            }
    
            p {
                font-size: 1.1rem;
                letter-spacing: 2px;
                white-space: nowrap;
                color: $gray-600;
                font-weight: 400;
            }
        }
    }
}