@use '../custom' as *;
@use '../components/typography'as *;

.coverage-section {
    background-image: url(../../img/abstract-blurry-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    scroll-margin-top: 6vh;

    &--title {
        h2{
        font-size: 3rem;
        color: $primary;
        font-weight: bold;
        
            @include media-breakpoint-down(sm) {
                font-size: 11vw;
            }
        }
    }

    &--content {
        color: $gray-600;
    }

    &--img {
        img {
            max-height: 16rem;
            width: 100%;
            object-fit: cover;
        }
    }

    @include media-breakpoint-down(md) {
        .row-2 {
    
            .elem-2 {
                order: 1;
            }
            
            .elem-1 {
                order: 2;
            }
        }
    }
}