@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/buttons' as *;
@use '../components/typography' as *;



#carousel {
    max-height: 95vh;
    width: 100%;

    .carousel-item {

        .caption {

            .item-wraper-1-1 {
                background-color: rgba($color: $t-bg, $alpha: 0.4);
                width: 60%;

                @include media-breakpoint-up(lg) {
                    transform: translateX(100px);
                    max-width: 40%;
                }

                h5 {
                    font-size: 3rem;
                    font-weight: 800;
                }

            }

            .item-wraper-1-2 {
                background-color: rgba($color: $t-bg, $alpha: 0.4);
                width: 60%;
                

                @include media-breakpoint-up(lg) {
                    transform: translateX(100px);
                    max-width: 40%;
                }

                h5 {
                    font-size: 3rem;
                    font-weight: 800;
                }

            }

            .item-wraper-1-3 {
                background-color: rgba($color: $t-bg, $alpha: 0.4);
                width: 60%;

                @include media-breakpoint-up(lg) {
                    transform: translateX(100px);
                    max-width: 40%;
                }

                h5 {
                    font-size: 3rem;
                    font-weight: 800;
                }

            }

            .item-wraper-2 {
                background-color: rgba($color: $t-bg, $alpha: 0.4);
                overflow: visible;
                visibility: hidden;

                @include media-breakpoint-down(md) {
                    visibility: visible;
                }

                h5 {
                    font-size: 5vw;
                }

            }

            @include media-breakpoint-down(sm) {
                margin-bottom: 50px;
            }

        }
    }

    img {
        object-fit: cover;
        object-position: center center;
        height: 95vh;
        width: 100%;

        @include media-breakpoint-up(xxl) {
            top: 0;
        }
    }

}
