@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/buttons' as *;
@use '../components/typography' as *;

#home {
    

    #carousel {
       

        .carousel-item {

            .caption {

                .item-wraper-1-1 {
                    background-color: rgba($color: $t-bg, $alpha: 0.4);
                    width: 60%;

                    h5 {
                        font-size: 3rem;
                        font-weight: 800;

                        @include media-breakpoint-down(lg) {
                            font-size: 6vh;
                        }
                    }

                    @include media-breakpoint-up(lg) {
                        transform: translateX(100px);
                        max-width: 40%;
                    }

                }

                .item-wraper-1-2 {
                    background-color: rgba($color: $t-bg, $alpha: 0.4);
                    width: 60%;


                    @include media-breakpoint-up(lg) {
                        transform: translateX(100px);
                        max-width: 40%;
                    }

                    h5 {
                        font-size: 3rem;
                        font-weight: 800;

                        @include media-breakpoint-down(lg) {
                            font-size: 6vh;
                        }
                    }
                }

                .item-wraper-1-3 {
                    background-color: rgba($color: $t-bg, $alpha: 0.4);
                    width: 60%;
                    max-width: auto;

                    @include media-breakpoint-up(lg) {
                        transform: translateX(100px);
                        max-width: 40%;
                    }

                    h5 {
                        font-size: 2.2rem;
                        font-weight: 800;

                        @include media-breakpoint-down(lg) {
                            font-size: 4.3vh;
                        }
                    }

                    button {
                        padding: 0.6rem 3rem 0.6rem 3rem;
                        margin-left: -6rem;
                        margin-right: -6rem;
                        font-size: 5rem;
                        border-radius: 90px;

                        @include media-breakpoint-down(lg) {
                            font-size: 8vh;
                        }
                    }

                    p {
                        font-size: 1.5rem;
                    }
                }

                .item-wraper-2 {
                    background-color: rgba($color: $t-bg, $alpha: 0.4);
                    visibility: hidden;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 15vh auto;



                    @include media-breakpoint-down(md) {
                        visibility: visible;
                    }

                    h5 {
                        font-size: 5vw;
                    }
                }

                @include media-breakpoint-down(sm) {
                    margin-bottom: 50px;
                }
            }
        }

        img {
            object-fit: cover;
            object-position: center center;
            height: 95vh;
            width: 100%;
        }

    }

}