@use '../custom' as *;
@use '../components/mixins' as *;



.menu {

    a {
        color: $white;
        text-transform: capitalize;
        font-weight: 900;

        img {
            max-height: 7rem;
        }
    }
    
    li{
        padding: 0 0.7rem;

        a {
            color: $gray-700;
            text-transform: capitalize;
            font-weight: 600;

            &:hover {
                background-color: $gray-700;
                color: $white;
            }

        }
    }

}