@use '../custom'as *;
@use '../components/mixins'as *;
@use '../components/typography'as *;

$nodeStreak: #a2cef4;
$computationalFogTop: #6084d7;
$computationalFogBot: #6084d7;
$visualDistortionZapper: 360px;
$nanoVelocity: 2s;

#prices {
    position: relative;
    overflow-x: hidden;

    .prices-bg {
        animation:slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, $gray-600 50%, $light 50%);
        bottom:0;
        left: -50%;
        opacity:.5;
        position: absolute;
        right: -50%;
        top: 0;
        bottom: 0;
        z-index:-1;
    }
      
    .prices-bg2 {
        animation-direction:alternate-reverse;
        animation-duration:4s;
    }
      
    .prices-bg3 {
        animation-duration:5s;
    }

    @keyframes slide {
        0% {
          transform:translateX(-25%);
        }
        100% {
          transform:translateX(25%);
        }
    }

    .prices--title {
        h2 {
            font-size: 3rem;
            color: $primary;
            font-weight: bold;
        }
    }

    .promo {
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(0.9);
        }
    
    }

    .card {
        background: linear-gradient(0deg, #404041, #000072);
        background-size: 400% 400%;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

    }

    h2 {
        font-size: 3rem;
        color: $primary;
        font-weight: bold;

        @include media-breakpoint-down(sm) {
            font-size: 2.5rem;
        }
    }

    .card-body {
        min-width: 18rem;
        border: none;

        .card-title {
            font-size: 3rem;
            font-weight: 700;
        }

        .btn {
            font-size: 1.5rem;
            white-space: nowrap;
            border-radius: 20px;
        }
    }
}
