@use '../custom'as *;
@use '../components/mixins'as *;
@use '../components/typography'as *;

$nodeStreak: #a2cef4;
$computationalFogTop: #6084d7;
$computationalFogBot: #6084d7;
$visualDistortionZapper: 360px;
$nanoVelocity: 2s;

#prices {


    .prices--title {
        h2 {
            font-size: 3rem;
            color: $primary;
            font-weight: bold;
        }
    }

    .card {
        background: linear-gradient(0deg, #404041, #000072);
        background-size: 400% 400%;

        animation: CardBgAnim 6s ease infinite;
    }

    @keyframes CardBgAnim {
        0% {
            background-position: 50% 0%
        }

        50% {
            background-position: 50% 100%
        }

        100% {
            background-position: 50% 0%
        }
    }

    h2 {
        font-size: 3rem;
        color: $primary;
        font-weight: bold;

        @include media-breakpoint-down(sm) {
            font-size: 2.5rem;
        }
    }

    .card-body {
        min-width: 18rem;
        border: none;

        .card-title {
            font-size: 3rem;
            font-weight: 700;
        }

        .btn {
            font-size: 1.5rem;
            white-space: nowrap;
            border-radius: 20px;
        }
    }
}
