@use '../custom' as *;

.services-section {
    background-color: $primary;

    i {
        font-size: 3rem;
        transition: transform 0.3s ease-in-out;
        padding-bottom: 1rem;

        &:hover {
            transform: scale(1.2);
        }
    }

    h3 {
        font-size: 1.3rem;
        font-weight: bold;
        padding-bottom: 1rem;
    }

    @include media-breakpoint-up(xxl) {

        i {
            font-size: 5rem;
            transition: transform 0.3s ease-in-out;
            padding-bottom: 1rem;
    
            &:hover {
                transform: scale(1.2);
            }
        }
    
        h3 {
            font-size: 2rem;
            font-weight: bold;
            padding-bottom: 1rem;
        }

        p {
            font-size: 1.1rem;
        }
    }

    .service-element--center {
        @include media-breakpoint-down(md) {
            padding: 4rem 0 4rem 0;
        }
    }
}